name: Update lockfile

on:
  pull_request:
    branches: [ master ]

jobs:
  update_lockfile:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    environment: CI

    timeout-minutes: 20

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: Checkout repository
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: coursier/setup-action@039f736548afa5411c1382f40a5bd9c2d30e0383 # v1.3.9
        with:
          jvm: temurin:11
          apps: sbt

      # Caching dependencies in Pull Requests based on branch name and build.sbt.
      # Can we do something better here?
      - name: Cache Coursier dependencies
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        env:
          cache-name: coursier-cache
        with:
          path: ~/.cache/coursier/v1
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.head_ref }}-${{ hashFiles('**/build.sbt') }}

      - name: Cache Ivy 2 cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        env:
          cache-name: sbt-ivy2-cache
        with:
          path: ~/.ivy2/cache
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ github.head_ref }}-${{ hashFiles('**/build.sbt') }}

      - name: Compile
        run: sbt -Dsbt.log.noformat=true +dependencyLockWrite

      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: 'build.*.sbt.lock'
          message: 'Update lockfiles'
          author_name: 'github-actions'
          author_email: 'mail@example.com'
